@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark font-display text-zinc-900 dark:text-white;
  }
}

.illustration-bg {
  background-image:
      radial-gradient(circle at 15% 50%, rgba(127, 19, 236, 0.2), transparent 40%),
      radial-gradient(circle at 85% 30%, rgba(127, 19, 236, 0.15), transparent 40%),
      radial-gradient(circle at 50% 90%, rgba(127, 19, 236, 0.1), transparent 50%);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
